#first {
	background: white;
	display: block;
	padding: 50px;
	margin: 100px 100px 0px 100px;
	border-radius: 15px 15px 0px 0px;
	}
body {
	background: hsl(204, 43%, 93%);
	font-family: karla;
	font-size: 16px;
	}
#second {
	background: rgb(74, 190, 189);
	padding: 50px;
	margin: 0px 100px;
	color: hsl(204, 43%, 93%);
	}
#third {
	background: hsl(181, 62%, 71%);
	padding: 50px;
	margin: 0px 100px 100px 100px;
	border-radius: 0px 0px 15px 15px;
	color: hsl(204, 43%, 93%);
	}
button {
	width: 600px;
	height: 100px;
	font-size: 45px;
	background-color: hsl(71, 73%, 54%);
	border-radius: 12px;
	color: white;
	margin: 20px;
	border: none;
	}
.head {
	font-weight: bold;
	font-size: 1.3em;
	padding: 10px;
	}
#pa {
	color: hsl(71, 73%, 54%);
	}
#pb{
	color: hsl(218, 22%, 67%);
	}
#head1 {
	color: rgb(74, 190, 189);
	}
#doll {
	font-size: 2.5em;
	font-weight: bold;
	}